.SectionDisplay--allowsInput:has(.EP_Musikisum_Charts_Display--noInput),
.SectionDisplay--allowsInput:hover:has(.EP_Musikisum_Charts_Display--noInput) {
  border-left: none !important;
  border-radius: 0 !important;
}

.EP_Musikisum_Charts_Display {
  .Collapsible-content {
    display: block;
    width: 100%;
  }
}

.EP_Musikisum_Charts_Display-empty {
  font-style: italic;
  color: rgba(0, 0, 0, 0.45);
}

.EP_Musikisum_Charts_Display-questionText {
  font-weight: bold;
  margin-bottom: 6px;
}

.EP_Musikisum_Charts_Display-votingForm {
  border-left: 3px solid #EAA58D;
  border-radius: 15px;
  padding: 12px 16px;
}

.EP_Musikisum_Charts_Editor {}
